/* Estilos para el contenedor de la marca */
.brand-container {
    width: 100%;
}

/* Estilos para la tarjeta de la marca */
.brand-card {
    text-align: center;
    padding: 10px;
    background-color: transparent;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    /* Altura fija para todas las tarjetas */
    box-sizing: border-box;
}

/* Estilos para la imagen de la marca */
.brand-card img {
    width: 100%;
    max-width: 100px;
    /* Ancho máximo para las imágenes */
    height: 100px;
    /* Altura fija para las imágenes */
    object-fit: contain;
    /* Ajusta la imagen dentro del contenedor sin deformarla */
    margin-bottom: 10px;
}

/* Estilos para el nombre de la marca */
.brand-name {
    margin: 0;
    font-weight: bold;
    color: #555;
    text-align: center;
    font-size: 1em;
    max-width: 100px;
    /* Ancho máximo para controlar textos largos */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}