.category-section {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centra el texto */
    width: 100%;
}

.category-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin-top: 10px;
}

.brands-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Estilos Globales para Imágenes */
img {
    max-width: 100%;
    height: auto;
    display: block;
}
