.home {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.home-background {
    position: relative;
    width: 50%;
    margin: auto;
    height: 300px;
    background-image: url('https://xcimg.szwego.com/img/3a1a816b/20240326/i1711455352_4987_0.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-image {
    z-index: 0;
    width: 30%;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.slick-slide {
    overflow: hidden;
}

.image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 600px) {

    .home-background {
        width: 100%;
    }

    .home {
        padding: 0;
    }

    .carousel-image {
        width: 100%;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
