.home {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.main-image {
    display: block;
    margin: 0 auto;
    width: 30%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    .home {
        padding: 10px;
    }

    .main-image {
        width: 100%;
        margin-bottom: 20px;
    }
}
