.home {
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.carousel-image {
    z-index: 0;
    width: 100%;
    height: auto;
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

.slick-slide {
    overflow: hidden;
}

.carousel-image:hover {
    transform: scale(1.1);
}

@media (max-width: 600px) {
    .home {
        padding: 10px;
    }
}